/*----- general styles -----*/
	*
	{
		margin: 0px;
		padding: 0px;
		color: #222;
	}

	body
	{
		background-image: url('../images/subtle_white_feathers.png');
	}

	p
	{
		font-family: 'Gabriela', serif;
		font-size: 1.1em;
		text-align: left;
	}

	h1,h2,h3
	{
		font-family: sans-serif;
		font-family: 'Alegreya Sans SC', sans-serif;
		font-weight: 200;
		text-align: center;
		font-size: 3.3em;
		padding-bottom: 15px;
	}

	h2
	{
		font-size: 2em;
		padding-top: 30px;
	}
	h3
	{
		font-size: 1.5em;
	}

	a
	{
		text-decoration: none;
		color: #01356F;
	}

	a:hover:after
	{
		content: '';
	}

	#container
	{
		padding-top: 50px;
		width: 100%;
		margin: 0px auto;
		overflow-x: hidden;
	}

/*----- header and navigation -----*/
	#main_img
	{
		display: block;
		margin: 0px auto;
		max-width: 851px;
		width: 100%;
		position: relative;
		box-shadow: 0 0 30px rgba(0,0,0,.5);
	}

	#title
	{
		height: 0px;
	}

	#title h1
	{
		position: absolute;
		font-size: 100px;
		color: white;
		text-shadow: 4px 4px 6px #000;
		position: relative;
		top: 100px;
		z-index: 100;
		text-align: center;
		font-family: 'Alegreya Sans SC', sans-serif;
	}

/*--------Style for ribbon----------*/
	.ribbon
	{
		font-size: 25px;
		max-width: 751px;
		position: relative;
		top: -30px;
		position: relative;
		background: #01356F;
		color: #fff;
		text-align: center;
		padding: 0em 2em;
		margin: 2em auto 1.5em;
	}

	.ribbon li
	{
		padding-top: 1em;
		padding-bottom: 1em;
		width: 30%;
		list-style: none;
		display: inline-block;
		font-family: "Gabriela", serif;
		color: white;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		cursor: pointer;
	}

	.ribbon li a 
	{
		color:white;
	}

	.ribbon li:hover
	{
		background: rgba(0,0,0,.2);
	}

	.ribbon:before, .ribbon:after
	{
		content: "";
		position: absolute;
		display: block;
		bottom: -1em;
		border: 1.5em solid #12467F;
		z-index: -1;
	}

	.ribbon:before
	{
		left: -2em;
		border-right-width: 1.5em;
		border-left-color: transparent;
	}

	.ribbon:after
	{
		right: -2em;
		border-left-width: 1.5em;
		border-right-color: transparent;
	}

	.ribbon .ribbon-content:before, .ribbon .ribbon-content:after
	{
		content: "";
		position: absolute;
		display: block;
		border-style: solid;/*#008686*/
		border-color:  rgba(0,0,0,.3) transparent transparent transparent;
		bottom: -1em;
	}

	.ribbon .ribbon-content:before
	{
		left: 0;
		border-width: 1em 0 0 1em;
	}

	.ribbon .ribbon-content:after
	{
		right: 0;
		border-width: 1em 1em 0 0;
	}

/*----- posts and the post container -----*/
	#posts
	{
		overflow: hidden;
		position: relative;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		margin: 0 auto;
		text-align: center;
		-moz-transition: opacity 1.5s, width 1s;
		-o-transition: opacity 1.5s, width 1s;
		-webkit-transition: opacity 1.5s, width 1s;
		transition: opacity 1.5s, width 1s;
	}

	.post
	{
		position: relative;
		display: inline-block;
		max-width: 700px;
		width: 80%;
		margin-bottom: 60px;
		margin-top: 20px;
		background: #FCFCFC;
		border-radius: 4px;
		border: 1px solid rgba(0,0,0,.2);
		border-bottom: 3px solid rgba(0,0,0,.4);
		padding: 50px;
		padding-top: 20px;
		overflow: hidden;
		box-shadow: 0 0 30px rgba(0,0,0,.3);
	}

	.post h1
	{
		position: relative;
	}

	.post .date
	{
		font-size: .5em;
		color:#666;
		font-weight: 400;
	}

	.post:after
	{
		position: absolute;
		content: '';
		width: 90%;
		height: 2px;
		background: #01356F;
		left: 0%;
		top: 85px;
	}

	.post img
	{
		max-height:200px;
		/*border-radius: 250px;*/
		float: left;
		margin: 40px;
		margin-left:20px;
		box-shadow: 0 0 30px rgba(0,0,0,.5);
	}

/*---- Large screen multi column layout -----*/
	@media (min-width: 1360px)
	{
		#posts
		{
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
		}

		.post
		{
			overflow: visible;
		};
	}

/*----- small screens compact layout -----*/
	@media (max-width: 600px)
	{
		#title h1
		{
			top: 30px;
			font-size: 70px;
		}

		h1
		{
			font-size: 40px;
		}

		.post:after
		{
			top: 65px;
		}

		.ribbon
		{
			font-size: 20px !important;
		}

		#container
		{
			padding-top: 0px;
		}

		.post img
		{
			display: block;
			float: none;
			margin: 0px auto;
			width: 300px;
			margin-bottom: 25px;
		}

		.post
		{
			padding: 20px;
		}

		#posts
		{
			margin-top: -50px;
			-moz-transition: all 0s;
			-o-transition: all 0s;
			-webkit-transition: all 0s;
			transition: all 0s;
		};
	}